@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40 20% 94%;
    --foreground: 30 25% 25%;
    --card: 40 20% 99%;
    --card-foreground: 30 25% 25%;
    --popover: 40 20% 99%;
    --popover-foreground: 30 25% 25%;
    --primary: 43 33% 52%;
    --primary-foreground: 43 33% 98%;
    --secondary: 40 10% 88%;
    --secondary-foreground: 30 25% 25%;
    --muted: 40 10% 88%;
    --muted-foreground: 30 10% 50%;
    --accent: 87 12% 47%;
    --accent-foreground: 87 12% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 40 10% 85%;
    --input: 40 10% 85%;
    --ring: 43 33% 62%;
    --radius: 1rem;
    --chart-1: 43 33% 52%;
    --chart-2: 87 12% 47%;
    --chart-3: 43 33% 62%;
    --chart-4: 87 12% 57%;
    --chart-5: 43 33% 72%;
    --sidebar-background: 40 20% 98%;
    --sidebar-foreground: 30 25% 25%;
    --sidebar-primary: 43 33% 52%;
    --sidebar-primary-foreground: 43 33% 98%;
    --sidebar-accent: 40 10% 90%;
    --sidebar-accent-foreground: 30 25% 25%;
    --sidebar-border: 40 10% 85%;
    --sidebar-ring: 43 33% 52%;
  }

  .dark {
    --background: 30 10% 10%;
    --foreground: 40 20% 94%;
    --card: 30 10% 12%;
    --card-foreground: 40 20% 94%;
    --popover: 30 10% 12%;
    --popover-foreground: 40 20% 94%;
    --primary: 43 33% 52%;
    --primary-foreground: 43 33% 98%;
    --secondary: 30 10% 20%;
    --secondary-foreground: 40 20% 94%;
    --muted: 30 10% 20%;
    --muted-foreground: 40 20% 60%;
    --accent: 87 12% 47%;
    --accent-foreground: 87 12% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 30 10% 25%;
    --input: 30 10% 25%;
    --ring: 43 33% 52%;
    --chart-1: 43 33% 52%;
    --chart-2: 87 12% 47%;
    --chart-3: 43 33% 62%;
    --chart-4: 87 12% 57%;
    --chart-5: 43 33% 72%;
    --radius: 1rem;
    --sidebar-background: 30 10% 12%;
    --sidebar-foreground: 40 20% 94%;
    --sidebar-primary: 43 33% 52%;
    --sidebar-primary-foreground: 43 33% 98%;
    --sidebar-accent: 30 10% 18%;
    --sidebar-accent-foreground: 40 20% 94%;
    --sidebar-border: 30 10% 20%;
    --sidebar-ring: 43 33% 52%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
